html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}
  
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.display-title {
  margin-top: .75rem;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
}
