html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}
  
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.display-title {
  text-transform: uppercase;
  margin-top: 2rem;
  min-width: 5rem;
  min-height: 1rem;
  margin-inline: auto;
  background-color: whitesmoke;
}

.img-container {
  max-width: 32rem;
  margin: 9rem auto;
  border: 1.25rem solid white;
  padding: 0.75rem;
  text-align: center;
  background-color: blue;
}