{% extends "base_template.html" %}

{% block body %}
    <header>
        <h2 class="display-title flex">The pet. Cat or Dog? The human knows, what about the machine?</h2>
    </header>
    <main>
        <div class="img-container">
            <img src= "{{mg}}" alt="image of either a cat or dog"/>
        </div>
    </main>
    <footer class="attribution-container flex">
        <p>Image attribution: The images are from <a href="pexels.com">pexels</a>, Click to view some them.</p>
    </footer>
{% endblock %}